{{#> layout}}
<div class="row" id="resources">
        <div class="col-xs-12">
          <div class="text-center">
            <h3>Additional resources:</h3>
            <ul>
              <li>
                <p>
                  <a href="http://bit.ly/hurricane-maria-tech">Donate time for Hurricane Maria Relief - Tech Community <b>(Recommended)</b></a>
                </p>
              </li>
              <li>
                <li>
                  <p>
                    <a href="https://www.facebook.com/standupforpuertorico/">Stand Up for Puerto Rico (Facebook Page)</a>
                  </p>
                </li>
                <li>
                  <p>
                    <a href="http://unidosporpuertorico.com/en/">Unidos por Puerto Rico</a>
                  </p>
                </li>
                <p>
                  <a href="https://connectrelief.com/">Connect Relief</a>
                </p>
              </li>
              <li>
                <p>
                  <a href="https://www.facebook.com/donate/1661202080577649/">Hurricane Maria Recovery Fund</a>
                </p>
              </li>
              <li>
                <p>
                  <a href="https://www.facebook.com/groups/153188931945861/">Puerto Rico Maria Updates (Facebook Group)</a>
                </p>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <hr>
{{/layout}}