{{#> layout}}
<div class="row" id="atms-available">
  <div class="col-xs-12">
    <div class="google-map-container embed-container text-center">
      <h3>ATMs Available in Puerto Rico</h3>
      <iframe src="http://batchgeo.com/map/553d790e7290f85d23a958e0016e000c" frameborder="0" width="100%" height="550" style="border:1px solid #aaa"></iframe>

    </div>
  </div>
</div>
<hr>
{{/layout}}
