{{#> layout}}
 <!-- Check on Facebook -->
      <div class="row" id="check-on-fb">
        <div class="col-xs-12">
          <h3>Check on your Facebook for news on Hurricane Maria and if YOUR friends are safe (no need for login):</h3>
        </div>
        <div class="col-xs-12 col-sm-6">
          <div class="facebook-hurricane-block">
            <a class="thumbnail" href="https://www.facebook.com/safetycheck/hurricane-maria-sep17-2017/">
              <img class="img-responsive" src="https://external-iad3-1.xx.fbcdn.net/safe_image.php?d=AQBFMmGYeNXLG-KR&w=500&h=220&url=https%3A%2F%2Fcbsnews1.cbsistatic.com%2Fhub%2Fi%2F2017%2F09%2F20%2F223fec33-290c-4bd8-876d-52bb1d2815dc%2Frtx3h5r3.jpg&cfs=1&upscale=1&_nc_hash=AQDYGVIYzLOYKKrf" alt="" style="padding: 85px 0">
            </a>
            <a href="https://www.facebook.com/safetycheck/hurricane-maria-sep17-2017/"><h3>Check for news on Facebook</h3></a>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6">
          <div class="facebook-hurricane-block">
            <a class="thumbnail" href="https://www.facebook.com/safetycheck/hurricane-maria-sep17-2017/friends/">
              <img class="img-responsive" src="https://cdn.vox-cdn.com/thumbor/sqkFOIELkFSuWnkRnE6LNKnfEHQ=/0x0:926x617/1820x1213/filters:focal(389x235:537x383):format(webp)/cdn.vox-cdn.com/uploads/chorus_image/image/56290759/safetycheck.0.jpg" alt="">
            </a>
            <a href="https://www.facebook.com/safetycheck/hurricane-maria-sep17-2017/friends/"><h3>Check for your friends</h3></a>
          </div>
        </div>
      </div>
      <hr>
{{/layout}}