{{#> layout}}
<div class="row">
    <div class="col-xs-12">
      <h3>We need you to reach out to your representative! Ask them to support the victims of Hurricane Maria in Puerto Rico. Find your representative with the link below and call them. If you want an idea of what to say, use the template below</h3>
    </div>

  <div class="col-sm-6">
    <h3 class="text-center">Template</h3>
    <p>Hi, my name is {your name}, resident of District {your disctrict}, zip code {your zip code} and I don't need a response.
        <br><br>I'm calling to ask the {Senator/Congressman/Congresswoman} to join the efforts of some of his colleagues in Congress - like Congressman José Serrano, Congresswoman Nydia Velázquez, Senator Marco Rubio, Resident Commissioner Jennifer González, and others - to put pressure on the federal government to provide more assistance to Puerto Rico and the Virgin Islands after being hit by Hurricane Maria, and on Congress to allocate the necessary funds/resources to do so.  Also, to please join some of these representatives on calling for at least one year exemption from the Jones Act or US Cabotage laws to Puerto Rico.
        <br><br>Thank you!
</p>
  </div>

  <div class="col-sm-6">
    <div class=" text-center">
      <h3>Find your representative</h3>
      <img class="img-responsive call-representative" src="./assets/images/logo.png" alt="" width="100px" height="auto">
      <a href="https://callyourrep.co/" title=""><h3>https://callyourrep.co/</h3></a>
    </div>
  </div>
</div>

{{/layout}}