{{#> layout}}
<div class="row">
    <div class="col-xs-12">
      <h3>We need you to reach out to your representative! Ask them to support exemption of the Jones Act in Puerto Rico. Find your representative with the link below and call them. If you want an idea of what to say, use the template below</h3>
    </div>

  <!-- <div class="col-xs-12 col-sm-6">
    <h3 class="text-center">Template</h3>
    <p>Hi, my name is {your name}, resident of District {your disctrict}, zip code {your zip code} and I don't need a response.
        <br><br>I'm calling to ask the {Senator/Congressman/Congresswoman} to join the efforts of some of his colleagues in Congress - like Congressman José Serrano, Congresswoman Nydia Velázquez, Senator Marco Rubio, Resident Commissioner Jennifer González, and others - to put pressure on the federal government to provide more assistance to Puerto Rico and the Virgin Islands after being hit by Hurricane Maria, and on Congress to allocate the necessary funds/resources to do so.  Also, to please join some of these representatives on calling for at least one year exemption from the Jones Act or US Cabotage laws to Puerto Rico.
        <br><br>Thank you!
</p>
  </div> -->

  <div class="col-xs-12 col-sm-6">
    <h3 class="text-center">Template:</h3>
    <h4><b>FOR EMAIL-</b>  Emails usually get a response from Members</h4>
    <p>
    'Hi, my name is [NAME], I'm a constituent living in [CITY/TOWN] and my zip code is [ZIP CODE #].

    <br><br>

    Last week, Hurricane María made a direct hit on Puerto Rico leaving a path of destruction in its wake. The island has faced a decade-long economic crisis, making recovery efforts more difficult.

    <br><br>

    I write to urge [CONGRESS MEMBER] support efforts to permanently exempt Puerto Rico from the Jones Act proposed by Senators John McCain and Mike Lee. These efforts will provide an opportunity for 3.5 million U.S. Citizens in the island  to recover and rebuild after Hurricane María. It would also stimulate long-term economic relief for the island.

    <br><br>

    Will [CONGRESS MEMBER] do everything [HE/SHE] can to assist Puerto Rico?  Will [HE/SHE] commit, publicly to do so?
    <br>
    </p>
  </div>

  <div class="col-xs-12 col-sm-6">
    <h3 class="text-center">Template</h3>
    <h4><b>FOR PHONE CALLS-</b> Short and sweet! (Staffers who have to record calls in systems appreciate brevity when phones are ringing non-stop)</h4>
    <p>
      'Hi, my name is [NAME], I'm a constituent living in [CITY/TOWN] and my zip code is [ZIP CODE #].

      <br><br>

       I call to urge [CONGRESS MEMBER] support Senators McCain and Lee in their efforts to permanently exempt Puerto Rico from the Jones Act.

       <br><br>

      Thanks!’
    </p>
  </div>



  <div class="col-xs-12">
    <div class=" text-center">
      <h3>Find your representative</h3>
      <img class="img-responsive call-representative" src="./assets/images/logo.png" alt="" width="100px" height="auto">
      <a href="https://callyourrep.co/" title=""><h3>https://callyourrep.co/</h3></a>
    </div>
  </div>
</div>

{{/layout}}
