{{#> layout}}
<div class="row" id="locations">
  <div class="col-xs-12">
    <div class="diaspora-donation-map text-center">
      <h3>These are the current reported donation centers:</h3>
      <iframe src="https://www.google.com/maps/d/u/2/embed?mid=1YOnYiOiRRrZXga7V8jjSI8laxY8" ></iframe>
    </div>
  </div>
</div>
<hr>
{{/layout}}