{{#> layout}}
  <div class="row">
    <div class="col-xs-12">
      <div class="fema-shelters embed-container text-center" id="fema-shelt">
          <h3>FEMA Shelters in Puerto Rico</h3>
          <iframe src="https://find-shelter.connect.socrata.com/?is_widget=true&hide_chrome=false#!/dashboard?places=FEMA%20Shelters&categories=&start_date=2017-07-29&end_date=2017-09-27&lat=18.137541280357823&lng=-66.26972794877202&zoom=8.677166882772035&highlightMarkerId=place-row-ttw6-a763%257E5suu&shapeIds=&showSideBar=true&mapType=Map&listViewTab=places&overlayLayers=&search_field=&search_value=&autoUpdate=false&heatFilters=&statusFilter=&choroplethField=count&searchType=true&date_type=relative" width="950" height="738" style="border: 1px solid #28566c;"></iframe>
      </div>
    </div>
  </div>
  <hr>
{{/layout}}
