{{#> layout}}
<div class="row">
  <div class="col-xs-12">
    <img class="img-responsive header-website" src="./assets/images/diasporicans-01.png" alt="">
    <h3 class="text-center header-caption">Uniting the diaspora with Puerto Rico</h3>
    <br>
    <h1 class="text-center">In collaboration with</h1>
    <h3 class="text-center header-caption ">
      <a href="https://github.com/SoPR/maria-tech-brigade-effort" class="maria-tech-brigade-effort-link" title="">Maria Tech Brigade</a>
    </h3>

     <a href="https://github.com/SoPR/maria-tech-brigade-effort" class="maria-tech-brigade-effort-link" title=""><img class="img-responsive header-website medium-image" src="./assets/images/flag-coding.png" alt=""></a>

  </div>
</div>
<hr>
{{> tweetFEMA}}
<hr>
{{> contactYourRepresentative}}
<hr>

{{/layout}}
