{{#> layout}}
<div class="row">
  <div class="col-xs-12">
    <img class="img-responsive header-website" src="./assets/images/diasporicans-01.png" alt="">
    <h3 class="text-center header-caption">Uniting the diaspora with Puerto Rico</h3>
    <br>
    <h1 class="text-center">In collaboration with</h1>
    <a href="https://github.com/SoPR/maria-tech-brigade-effort" class="maria-tech-brigade-effort-link" title=""><h3 class="text-center header-caption ">Maria Tech Brigade</h3>
    <img class="img-responsive header-website medium-image" src="./assets/images/flag-coding.png" alt=""></a>

  </div>
</div>

{{> contactYourRepresentative}}
<div class="row" id="locations">
  <div class="col-xs-12">
    <div class="diaspora-donation-map text-center">
      <h3>These are the current reported donation centers:</h3>
      <iframe src="https://www.google.com/maps/d/u/2/embed?mid=1YOnYiOiRRrZXga7V8jjSI8laxY8" ></iframe>
    </div>
  </div>
</div>
<hr>
{{/layout}}