{{#> layout}}

<!DOCTYPE html>
<html>
  <head>
    <!-- Global Site Tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-106831938-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments)};
      gtag('js', new Date());

      gtag('config', 'UA-106831938-1');
    </script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:image" content="http://www.diasporicans.com/assets/images/diasporicans-01.png"/>
    <meta property="og:title" content="Diasporicans - Uniting the diaspora with the Puerto Rico "/>
    <meta property="og:url" content="http://www.diasporicans.com"/>
    <meta property="og:site_name" content="Diasporicans"/>
    <meta property="og:type" content="website"/>
    <title>Diasporicans - Uniting the diaspora with the Puerto Rico</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="./assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="./assets/css/style.css">
  </head>
  <body>

    {{/layout}}