{{#> layout}}
<div class="row">
  <div class="col-xs-12">
    <img class="img-responsive header-website" src="./assets/images/diasporicans-01.png" alt="">
    <h3 class="text-center header-caption">Uniting the diaspora with Puerto Rico</h3>
  </div>
</div>
{{/layout}}
