{{#> layout}}
<div class="row" id="card-support">
  <div class="col-xs-12">
    <div class="diaspora-donation-map text-center">
      <h3>Places with Credit/Debit support</h3>
      <iframe src="https://www.google.com/maps/d/u/5/embed?mid=1mOuSvKYedUSaPry7TY1uRCg1RwA" width="640" height="480"></iframe>

    </div>
  </div>
</div>
<hr>
{{/layout}}
