    {{> head}}
    <!-- Navbar -->

    {{> navbar}}

    <!-- Header -->
    <div class="container">
      {{> header}}

      {{> hostADonationForm}}

      {{> personasContactadas}}

      <!-- Materials Donation Needed -->
      <div class="row" id="materials">
        <div class="col-xs-12 text-center">
          <h3>Materials for Donation Needed (by <a href="http://unidosporpuertorico.com/en/">Unidos por Puerto Rico</a>):</h3>
          <div style="max-width: 700px; margin: auto">
            <p><img class="img-responsive" src="./assets/images/materialsneeded.png" alt="Materials Needed"></p>
          </div>
        </div>
      </div>
      <hr>

      {{> locationsTakingCards}}

      {{> antennasInPR}}

      <!-- Contact from Puerto Rico - Conecta Maria -->
      <div class="row" id="contact-from-PR">
        <div class="col-xs-12 text-center">
          <h3>If your friends or family members have internet, but no cellular signal, send them the link for Conecta Maria (project by Omar Ferrer - <a href="https://github.com/chamakits">Github</a>):<br><br>Free service - <a href="http://conecta-maria.glitch.me/">http://conecta-maria.glitch.me/</a></h3>
        </div>
      </div>
      <hr>

      {{> checkOnFacebook}}

      {{> whereToDonate}}

      {{> donateYourTimeForm}}

      <!-- Resources -->
      {{> aditionalResources}}

      {{> contactUsForm}}

      <!-- Footer -->

      {{> footer}}
