<nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">🇵🇷</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>

            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Finding People<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="/toolsForPR#contactedPeople">Google's person finder</a></li>
                <li><a href="/toolsForPR#check-on-fb">Safety Checks</a></li>
                <li><a href="/toolsForPR#contact-from-PR">Contact from PR</a></li>
                <li><a href="/toolsForPR#resources">Aditional resources</a></li>
              </ul>
            </li>

            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Donate<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="/donations">Donation Center Locations</a></li>
                <li><a href="/donations#host">Host a donation center</a></li>
                <li><a href="/donations#materials">Materials</a></li>
                <li><a href="/donations#funds">Fundraisers Available</a></li>
                <li><a href="/donations#donatetime">Donate</a></li>
              </ul>
            </li>

            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Service Maps <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="/maps#antennas-in-PR">Working Cellular Antennas</a></li>
                <li><a href="/maps#card-support">Paying with cards</a></li>
                <li><a href="/maps#gas-stations">Available gas stations</a></li>
              </ul>
            </li>
            <li><a href="/contact">Contact Us</a></li>
          </ul>


          <ul class="nav navbar-nav navbar-right">
            <li><a class="nav-text">Follow us:</a></li>
            <li><a href="https://www.facebook.com/diasporicans/"><i class="nav-icons fa fa-facebook" aria-hidden="true"></i></a></li>
          </ul>
        </div>
      </div>
    </nav>
