{{#> layout}}
<!-- Donate your time -->
<div class="row" id="contactedPeople">
  <div class="col-xs-12 text-center">
    <h3>To compile information about people in Puerto Rico that had been uncommunicated and are now contacted, access: </h3> <h1><a href="https://docs.google.com/forms/d/e/1FAIpQLSd73ZP2KkE3woTF6XBI0n2HzNC3pr89hFKuZkNdmKOk_Ljcog/viewform">Contacted People Form</a> <br></h1>
  </div>
</div>

<div class="row" id="contactedPeople">
  <div class="col-xs-12 text-center">
    <h3>If you are yet to find your loved ones or have information about someone, you can use Google's person finder</h3>
    <iframe
    src="http://google.org/personfinder/2017-maria/?ui=small"
    width=400 height=300 frameborder=0
    style="border: dashed 2px #77c"></iframe>
  </div>
</div>
<hr>

{{/layout}}
