{{#> layout}}
<!-- Donate your time -->
<div class="row" id="contactedPeople">
  <div class="col-xs-12 text-center">
    <h3>To compile information about people in Puerto Rico that had been uncommunicated and are now contacted access <a href="https://docs.google.com/forms/d/e/1FAIpQLSd73ZP2KkE3woTF6XBI0n2HzNC3pr89hFKuZkNdmKOk_Ljcog/viewform">this form</a> <br></h3>
  </div>
</div>
<hr>
{{/layout}}