{{#> layout}}
<div class="row" id="tweet-fema">
    <div class="col-xs-12 text-center">
      <h3>Did you know that resources are getting to Puerto Rico, but FEMA is holding back all distributions? <br> Tweet the person in charge!</h3>
      <br><br>
      <h4 class="text-center">Use this pre-written tweet to let the Administrator of FEMA, Brock Long, know that we need to distribute donations the Diaspora has sent to Puerto Rico, using the hashtag #OurHomeNeedsUs</h4>
      <br>
      <img class="img-responsive" src="https://www.cfsi.org/wp-content/uploads/2017/06/brock-long5.jpg" alt="Brock Long">
      <br>
      <p class="text-center">
        <a class="btn btn-default btn-tweet" href="http://bit.ly/OurHomeNeedsUs" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i>   Tweet Brock Long</a>
      </p>
    </div>
  </div>

{{/layout}}
