{{#> layout}}
<div class="row" id="updatesSection">
    <h2 class="text-center"><u>Updates section:</u></h2>
    <div class="col-xs-12 text-center">
      <h3>Inform yourself of the updates in Puerto Rico using this site created by the local Government:</h3> <h3><a href="http://status.pr/" target="_blank">http://status.pr/</a> </h3>
    </div>
    <div class="col-xs-12 text-center">
      <h3>USPS already opens certain offices for retail, PO Box mail and package pickup services from 9 a.m. to 3 p.m:</h3> <h3><a href="http://about.usps.com/news/service-alerts/resident-weather-updates.htm" target="_blank">USPS - Hurricane Maria</a> </h3>
    </div>
  <div class="col-xs-12 text-center">
    <h3>Join the Maria Mutual Aid Network! Daily calls every day this week at 5 PM [EST] - [English & Spanish]:</h3> <h3><a href="http://myaccount.maestroconference.com/conference/register/L20GH103ZJD0O1J" target="_blank">Maria Mutual Aid Network Daily Calls</a> </h3>
  </div>
</div>

{{/layout}}
