{{#> layout}}
<div class="row" id="urgentSection">
    <div class="col-xs-12 text-center">
      <h3>Looking for a section urgently? These might help:</h3>
    </div>
    <div class="col-xs-12 col-sm-6">
      <a href="/donations">
        <img class="img-responsive" src="./assets/images/donationcenters.png" alt="Donation Centers" style="margin-top: 8px">
      </a>
    </div>
    <div class="col-xs-12 col-sm-6">
      <a href="/toolsForPR#contactedPeople">
        <img class="img-responsive" src="./assets/images/contactedpeople-2.png" alt="Contacted People">
      </a>
    </div>
    <div class="col-xs-12 text-center">
      <h3>If your friends or family members have internet, but no cellular signal, send them the link for Conecta Maria (project by Omar Ferrer - <a href="https://github.com/chamakits">Github</a>):<br><br>Free service - <a href="http://conecta-maria.glitch.me/">http://conecta-maria.glitch.me/</a></h3>
    </div>
    <hr>
  </div>

{{/layout}}
