{{#> layout}}
  <div class="row">
    <div class="col-xs-12" id="usps-map">
      <div class="google-map-container embed-container text-center">
          <h3>Open USPS Stores in Puerto Rico (Data from <a href="http://about.usps.com/news/service-alerts/resident-weather-updates.htm">USPS</a>) </h3>
            <iframe src="https://www.google.com/maps/d/embed?mid=1SOyC8RPR_udpgq_37NycrE0Rvbs" width="640" height="480"></iframe>
      </div>
    </div>
  </div>
  <hr>
{{/layout}}
