{{#> layout}}
<!-- Funds to donate -->
      <div class="row" id="funds">
        <div class="col-xs-12 text-center">
          <h3>Don't know where to donate? Here are some options:</h3>
        </div>
        <div class="col-sm-6">
          <div class="text-center">
            <ul>
              <li>
                <p>
                  <a href="https://www.facebook.com/donate/1661202080577649/">Friends of Puerto Rico - Hurricane Maria Recovery Fund (Facebook)</a>
                </p>
              </li>
              <li>
                <p>
                  <a href="https://www.youcaring.com/loizahurricanerelief-955117">Loiza Hurricane Relief Fundraiser (youcaring.com)</a>
                </p>
              </li>
              <li>
                <p>
                  <a href="https://www.gofundme.com/diasporapresente">Georgia Tech Hurricane Maria Relief for Puerto Rico</a>
                </p>
              </li>
              <li>
                <p>
                  <a href="https://www.generosity.com/emergencies-fundraising/maria-irma-puerto-rico-real-time-recovery-fund">ConPRometidos (Generosity/Indiegogo)</a>
                </p>
              </li>

              <li>
                <p>
                  <a href="https://connect.clickandpledge.com/w/Form/cb4a3c78-5694-4324-bead-42c8ad94c1bf">The Hurricane Maria Community Relief &amp; Recovery (click and pledge)</a>
                </p>
              </li>

              <li>
                <p>
                  <a href="https://www.amazon.com/registry/wishlist/23ALCJDYZICT7/ref=cm_sw_r_cp_ep_ws_.TuWzbZGY4S7T">Solidarity Brigade for Puerto Rico Amazon Registry</a> <br>
                  For more information on how to help out Solidarity Brigade, check last item on <a href="http://www.losambulantes.com/help-puerto-rico/">THIS list</a>
                </p>
              </li>

            </ul>
          </div>
        </div>

        <div class="col-sm-6">
          <div class="text-center">
            <ul>

              <li>
                <p>
                  <a href="https://connectrelief.com/donate">Connect Relief Donation</a>
                </p>
              </li>

              <li>
                <p>
                  <a href="https://www.gofundme.com/prxpr">PRXPR (GoFundme)</a>
                </p>
              </li>
              <li>
                <p>
                  <a href="https://www.gofundme.com/puerto-rico-hurricane-maria-fund">Puerto Rico Hurricane Maria Fund (GoFundme)</a>
                </p>
              </li>
              <li>
                <p>
                  <a href="https://www.gofundme.com/arribapr2017">ArribaPR2017 (GoFundme)</a>
                </p>
              </li>
              <li>
                <p>
                  <a href="https://www.kickstarter.com/projects/765192936/deployable-emergency-network-for-puerto-rico">Deployable emergency network for Puerto Rico</a>
                </p>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <hr>

{{/layout}}
