<div class="top-margin">

  {{> partials/alerts}}

{{> donationsMap}}
{{> hostADonationForm}}

<!-- Materials Donation Needed -->
<div class="row" id="materials">
  <div class="col-xs-12 text-center">
    <h3>Materials for Donation Needed (by <a href="http://unidosporpuertorico.com/en/">Unidos por Puerto Rico</a>):</h3>
    <div style="max-width: 700px; margin: auto">
      <p><img class="img-responsive" src="./assets/images/materialsneeded.png" alt="Materials Needed"></p>
    </div>
  </div>
</div>
<hr>

{{> whereToDonate}}

{{> partials/donateYourTimeForm}}
</div>
