
{{> header}}

<hr>

<!-- {{> tweetFEMA}} -->
<div class="row">
  <div class="col-xs-12">
    <div class="text-center google-map-container">
      <h3>We want to know FEMA's and Puerto Rico's government's progress! Let us know by filling out this simple form:</h3>
      <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSfOUpzqiKzbHRiw2X3qMQktLxAJegcWxhAWPrXTyOvm7SB58g/viewform?embedded=true#responses" width="760" height="500" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
    </div>
  </div>
</div>

<hr>

{{> updatesSection}}

<hr>

{{> urgentSections}}

<hr>

{{> contactYourRepresentative}}

<hr>


<div class="row">
  <div class="col-xs-12">
    <div class="main-page-list text-center">
      <h3>Check out the sections within Diasporicans:</h3>
      <ul>
        <li>
          <h3>
            <a href="/donations">Donation Centers</a>
          </h3>
        </li>
        <li>
        <li>
          <h3>
            <a href="/donations#donatetime">Donate Your Time</a>
          </h3>
        </li>
        <li>
          <h3>
            <a href="/donations#funds">Available Fundraisers</a>
          </h3>
        </li>
          <li>
          <h3>
            <a href="/maps">Serviceable Maps</a>
          </h3>
        </li>
        <li>
          <h3>
            <a href="/toolsForPR">Tools for Puerto Rico</a>
          </h3>
        </li>
        <li>
          <h3>
            <a href="/contactus">Contact Us</a>
          </h3>
        </li>
      </ul>
    </div>
  </div>
</div>
<hr>
<!-- Resources -->
{{> aditionalResources}}
