
{{> header}}



{{> personasContactadas}}




<!-- Contact from Puerto Rico - Conecta Maria -->
<div class="row" id="contact-from-PR">
  <div class="col-xs-12 text-center">
    <h3>If your friends or family members have internet, but no cellular signal, send them the link for Conecta Maria (project by Omar Ferrer - <a href="https://github.com/chamakits">Github</a>):<br><br>Free service - <a href="http://conecta-maria.glitch.me/">http://conecta-maria.glitch.me/</a></h3>
  </div>
</div>
<hr>

{{> checkOnFacebook}}



<!-- Resources -->
{{> aditionalResources}}




