
{{> header}}

<div class="row">
  <div class="col-xs-12">
    <div class="main-page-list text-center">
      <h3>Check out the sections within Diasporicans:</h3>
      <ul>
        <li>
          <h3>
            <a href="/donations">Donation Centers</a>
          </h3>
        </li>
        <li>
          <h3>
            <a href="/maps">Serviceable Maps</a>
          </h3>
        </li>
        <li>
          <h3>
            <a href="/toolsForPR">Tools for Puerto Rico</a>
          </h3>
        </li>
        <li>
          <h3>
            <a href="/contactus">Contact Us</a>
          </h3>
        </li>
      </ul>
    </div>
  </div>
</div>
<hr>
<!-- Resources -->
{{> aditionalResources}}
