<h3>Noticias para ver desde Puerto Rico</h3>
<h4>Utilizando la tecnología de <a href="http://textise.net">textise.net</a> podemos cargar las páginas de noticias sin imagenes ni estilo para cargar con más facilidad, ya que en la gran mayoría de Puerto Rico no hay casi información. <br> No te quedes desconectado!</h4>
<ul>
  <li>
    <a target="_blank" href="https://www.textise.net/showText.aspx?strURL=metro.pr">Metro PR</a>
  </li>
  <li>
    <a target="_blank" href="https://www.textise.net/showText.aspx?strURL=http://dialogoupr.com/">Dialogo UPR</a>
  </li>
  <li>
    <a target="_blank" href="https://www.textise.net/showText.aspx?strURL=http://www.noticel.com/">Noticel</a>
  </li>
  <li>
    <a target="_blank" href="https://www.textise.net/showText.aspx?strURL=endi.com">ENDI</a>
  </li>
  <li>
    <a target="_blank" href="https://www.textise.net/showText.aspx?strURL=primerahora.com">Primera Hora</a>
  </li>
  <li>
    <a target="_blank" href="https://www.textise.net/showText.aspx?strURL=https://www.washingtonpost.com/">Washington Post (USA)</a>
  </li>
  <li>
    <a target="_blank" href="https://www.textise.net/showText.aspx?strURL=http://www.msnbc.com/">MSNBC (USA)</a>
  </li>
  <li>
    <a target="_blank" href="https://www.textise.net/showText.aspx?strURL=elpais.com">El Pais (España)</a>
  </li>
  <li>
    <a target="_blank" href="https://www.textise.net/showText.aspx?strURL=http://www.bbc.com/news">BBC (Reinos Unidos)</a>
  </li>
</ul>
<table>
<tr><td>X</td><td>Y</td><td>Name</td></tr>
<tr><td>-67.098164</td><td>18.492641</td><td>Aguadilla (San Antonio)</td></tr>
<tr><td>-67.1550357</td><td>18.4283185</td><td>Aguadilla (Victoria)</td></tr>
<tr><td>-67.1457233</td><td>18.2806015</td><td>Añasco</td></tr>
<tr><td>-66.759886</td><td>18.477505</td><td>Arecibo (Unverified) - Primera Opción</td></tr>
<tr><td>-66.722224</td><td>18.46304</td><td>Arecibo (Unverified)</td></tr>
<tr><td>-66.7312</td><td>18.4605</td><td>Arecibo (Unverified)</td></tr>
<tr><td>-66.537958</td><td>18.450179</td><td>Barceloneta</td></tr>
<tr><td>-67.1643906</td><td>18.0278159</td><td>Boqueron</td></tr>
<tr><td>-67.1469</td><td>18.086</td><td>Cabo Rojo</td></tr>
<tr><td>-66.0400373</td><td>18.2214809</td><td>Caguas (North) - Unverified</td></tr>
<tr><td>-66.8492344</td><td>18.4848138</td><td>Camuy</td></tr>
<tr><td>-66.020154</td><td>18.440282</td><td>Carolina</td></tr>
<tr><td>-65.956303</td><td>18.379807</td><td>Carolina (Pueblo)</td></tr>
<tr><td>-66.1204997</td><td>18.4409424</td><td>Cataño</td></tr>
<tr><td>-66.166807</td><td>18.1143243</td><td>Cayey</td></tr>
<tr><td>-66.468002</td><td>18.333907</td><td>Ciales</td></tr>
<tr><td>-66.1549</td><td>18.1694</td><td>Cidra (Unverified)</td></tr>
<tr><td>-66.157712</td><td>18.1717566</td><td>Cidra (Unverified)</td></tr>
<tr><td>-66.3626112</td><td>18.0731677</td><td>Coamo</td></tr>
<tr><td>-66.225024</td><td>18.221736</td><td>Comerio</td></tr>
<tr><td>-66.2701404</td><td>18.4626615</td><td>Dorado</td></tr>
<tr><td>-66.1137304</td><td>18.3556963</td><td>Guaynabo</td></tr>
<tr><td>-67.0584732</td><td>18.0424614</td><td>Lajas</td></tr>
<tr><td>-67.0608</td><td>18.0448</td><td>Lajas - WAPA</td></tr>
<tr><td>-66.8749065</td><td>18.2991108</td><td>Lares</td></tr>
<tr><td>-66.979587</td><td>18.1812627</td><td>Maricao</td></tr>
<tr><td>-67.1505635</td><td>18.205766</td><td>Mayagüez (Marina)</td></tr>
<tr><td>-67.109349</td><td>18.394616</td><td>Moca</td></tr>
<tr><td>-65.735774</td><td>18.215255</td><td>Naguabo</td></tr>
<tr><td>-65.9099</td><td>17.9808</td><td>Patillas</td></tr>
<tr><td>-66.631476</td><td>17.998749</td><td>Ponce (Unverified)</td></tr>
<tr><td>-66.5762034</td><td>18.0076462</td><td>Ponce (Unverified)</td></tr>
<tr><td>-67.249857</td><td>18.33245</td><td>Rincon</td></tr>
<tr><td>-66.960671</td><td>18.076293</td><td>Sabana Grande</td></tr>
<tr><td>-66.612466</td><td>18.422309</td><td>Sabana Hoyos</td></tr>
<tr><td>-66.2228705</td><td>17.9549051</td><td>Salinas (Aguirre)</td></tr>
<tr><td>-66.222801</td><td>17.954844</td><td>Salinas - Wapa</td></tr>
<tr><td>-67.0357812</td><td>18.0800477</td><td>San German</td></tr>
<tr><td>-66.0764647</td><td>18.4182081</td><td>San Juan (Hato Rey - Main Window)</td></tr>
<tr><td>-66.055535</td><td>18.451183</td><td>San Juan (Loiza St)</td></tr>
<tr><td>-66.112271</td><td>18.46471</td><td>San Juan (Minilla Center)</td></tr>
<tr><td>-66.082652</td><td>18.455338</td><td>San Juan (Santurce)</td></tr>
<tr><td>-66.993555</td><td>18.335637</td><td>San Sebastián</td></tr>
<tr><td>-66.255711</td><td>18.447557</td><td>Toa Baja</td></tr>
<tr><td>-66.696652</td><td>18.268344</td><td>Utuado</td></tr>
<tr><td>-66.329452</td><td>18.414588</td><td>Vega Alta</td></tr>
<tr><td>-66.40724</td><td>18.446578</td><td>Vega Baja</td></tr>
<tr><td>-67.143697</td><td>18.201439</td><td>Mayagüez (Unverified)</td></tr>
<tr><td></td></tr>
</table>
