<!DOCTYPE html>
<html>
  <head>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-106831938-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments)};
      gtag('js', new Date());

      gtag('config', 'UA-106831938-1');
    </script>
    <meta charset="utf-8">
    <title>Diasporicans para Puerto Rico</title>
    <style media="screen">
      iframe {
        max-width: 700px;
        max-height: 500px;
        margin: auto;
        margin-top: 30px;
      }
      div.embed-container{
        padding-bottom: 570px;
      }
    </style>
  </head>
  <body>
    <ul>
      <li>
        Para volver a diasporicans.com para Puerto Rico, <a href="/pr">haga clic aquí</a>
      </li>
      <li>
        Para volver a diasporicans.com, <a href="/">haga clic aquí</a>
      </li>
    </ul>
    <h1 style="text-align:center">Diasporicans</h1>
    <hr>
    {{> antennasInPR}}
    {{> atmsInPR}}
    {{> uspsMap}}
    {{> femaShelters}}
    {{> locationsTakingCards}}
    {{> openGasStationsMap}}
  </body>
</html>
