<!DOCTYPE html>
<html>
  <head>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-106831938-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments)};
      gtag('js', new Date());

      gtag('config', 'UA-106831938-1');
    </script>
    <meta charset="utf-8">
    <title>Diasporicans para Puerto Rico</title>
  </head>
  <body>
    <ul>
      <li>
        Para mapas informativas (tomará un poco de tiempo para cargar), <a href="/pr/maps">haga clic aquí</a>
      </li>
      <li>
        Para volver a diasporicans.com, <a href="/">haga clic aquí</a>
      </li>
    </ul>
    <hr>
    <!-- Contacto desde Puerto Rico - Conecta Maria -->
    <div class="row">
      <div>
        <h3>Si no tienes señal de celular, pero te quisieras contactar con alguien usando SMS, utiliza esta herramienta: Conecta Maria (proyecto por Omar Ferrer - <a href="https://github.com/chamakits">Github</a>):<br><br>Servicio Gratuito - <a href="http://conecta-maria.glitch.me/">http://conecta-maria.glitch.me/</a></h3>
      </div>
    </div>
    <hr>
    <!-- Noticias para Puerto Rico -->
    <h3>Noticias para ver desde Puerto Rico</h3>
    <h4>Utilizando la tecnología de <a href="http://textise.net">textise.net</a> podemos cargar las páginas de noticias sin imagenes ni estilo para cargar con más facilidad, ya que en la gran mayoría de Puerto Rico no hay casi información. <br> No te quedes desconectado!</h4>
    <ul>
      <li>
        <a target="_blank" href="https://www.textise.net/showText.aspx?strURL=metro.pr">Metro PR</a>
      </li>
      <li>
        <a target="_blank" href="https://www.textise.net/showText.aspx?strURL=http://dialogoupr.com/">Dialogo UPR</a>
      </li>
      <li>
        <a target="_blank" href="https://www.textise.net/showText.aspx?strURL=http://www.noticel.com/">Noticel</a>
      </li>
      <li>
        <a target="_blank" href="https://www.textise.net/showText.aspx?strURL=endi.com">ENDI</a>
      </li>
      <li>
        <a target="_blank" href="https://www.textise.net/showText.aspx?strURL=primerahora.com">Primera Hora</a>
      </li>
      <li>
        <a target="_blank" href="https://www.textise.net/showText.aspx?strURL=https://www.washingtonpost.com/">Washington Post (USA)</a>
      </li>
      <li>
        <a target="_blank" href="https://www.textise.net/showText.aspx?strURL=http://www.msnbc.com/">MSNBC (USA)</a>
      </li>
      <li>
        <a target="_blank" href="https://www.textise.net/showText.aspx?strURL=elpais.com">El Pais (España)</a>
      </li>
      <li>
        <a target="_blank" href="https://www.textise.net/showText.aspx?strURL=http://www.bbc.com/news">BBC (Reinos Unidos)</a>
      </li>
    </ul>
    <hr>
    <h3>Comunícate con nosotros:</h3>
    <form method="POST" action="/form/contactus" data-toggle="validator" role="form" id="contactus-form">
      <div class="form-group">
        <label for="FirstNameContact">First Name</label>
        <input name="FirstNameContact" type="text" class="form-control" id="FirstNameContact" placeholder="Primer Nombre" required>
      </div>
      <div class="form-group">
        <label for="LastNameContact">Last Name</label>
        <input name="LastNameContact" type="text" class="form-control" id="LastNameContact" placeholder="Apellido" required>
      </div>
      <div class="form-group">
        <label for="EmailContact">Email address</label>
        <input name="EmailAddressContact" type="email" class="form-control" id="EmailContact" placeholder="Email" required>
      </div>
      <div class="form-group">
        <label for="TelephoneContact">Telephone</label>
        <input name="TelephoneContact" type="tel" class="form-control" id="TelephoneContact" placeholder="Teléfono">
      </div>
      <div class="form-group">
        <label for="MessageContact">Mensaje:</label>
        <textarea name="MessageContact" class="form-control" id="MessageContact" rows="3"></textarea>
      </div>
      <p> Al enviar el mensaje, acepto que los manejadores de la página se comuniquen conmigo</p>
      <button type="submit" class="btn btn-default">Enviar</button>
    </form>
    </body>
</html>
