
<div class="row" id="educational-institutions">
  <div class="col-xs-12">
    <h3 class="text-center">Educational Institutions</h3>
    <div class="google-map-container embed-container text-center">

      <iframe src="https://aka.ms/PRSchools" height="698px" width="100%"></iframe>

    </div>
  </div>
</div>
<hr>