/*
Green color: #C8DB3A, rgba(200, 219, 58, 1)
Purple Color: #454871, rgba(39, 21, 94, 1)
Blue color: #86E4BB
242 136 215
*/

/*-------------------------------------------------------------------*/
            /*BASIC SETUP*/
/*-------------------------------------------------------------------*/


* {
  font-family: 'Muli', sans-serif;
}

iframe {
  margin: 0 auto;
  padding: 0;
  border: none;
  width: 100%;
  height: 100%;
}
/*-------------------------------------------------------------------*/
           /*REUSABLE COMPONENTS*/
/*-------------------------------------------------------------------*/

/*------------------HEADINGS------------------*/


/*------------------Margins------------------*/

.top-margin{
  margin-top: 7em;
}

/*------------------TITLES------------------*/


/*------------------PARAGRAPHS------------------*/


/*------------------ICONS------------------*/


/*------------------BUTTONS------------------*/


/*------------------LINKS------------------*/





/*-------------------------------------------------------------------*/
           /*HEADER*/
/*-------------------------------------------------------------------*/

/*------------------Navigation------------------*/

.nav-icons, .nav-text {
  color: white;
  font-size: 18px;
  margin-right: 20px;
}

.navbar-nav>li>a.nav-text {
  color: white;
  margin: 0
}

.header-website {
  width: 500px;
  margin: 100px auto 0;
}

.maria-tech-brigade-effort-link{
  color: black;
}

.maria-tech-brigade-effort-link>img{
  margin: 0 auto;
    width: 100px;
    display: block;
}



.medium-image{
   width: 100px;
   height: auto;
   margin-top: 0;
}

.call-representative{
  margin: 0 auto;
}

table {
  width: 100%;
  background-color: rgba(0,0,0,0.1);
}

table, tbody, td {
  border: 1px grey solid;
}

.color-legend {
  height: 10px;
  width: 50px;
  display: inline-grid;
}

.maria-tech-brigade-effort-link{
  color: black;
}

.header-caption {
  text-decoration: underline;
}


/*-------------------------------------------------------------------*/
           /*Tweet FEMA*/
/*-------------------------------------------------------------------*/

#tweet-fema img {
  margin: auto;
  width: 100px;
}

.btn-tweet {
  background-color: #08a0e9;
  color: #fff;
  border-color: #08a0e9;
}

.btn-tweet:hover {
  background-color: #0084B4;
  color: #fff;
  border-color: #0084B4;
}

.btn-tweet:focus, .btn-tweet:active {
  outline: none;
  background-color: #E8F5FD;
  color: #fff;
  border-color: #E8F5FD;
}

.main-page-list li {
  list-style: none;
}

/*-------------------------------------------------------------------*/
           /*Donation Map*/
/*-------------------------------------------------------------------*/

.medium-image{
  width: 100px;
  height: auto;
  margin-top: 0;
}

.diaspora-donation-map {
  margin: 50px auto;
  height: 480px;
}

/*-------------------------------------------------------------------*/
           /*PROJECTS*/
/*-------------------------------------------------------------------*/


#antennas-in-PR {
  margin-bottom: 150px;
}

#antennas-in-PR > div {
  height: 580px;
}

/*-------------------------------------------------------------------*/
           /*Antennas*/
/*-------------------------------------------------------------------*/

.antennasInPR{
    margin-top: 7rem;
    text-align: center;
}
/*-------------------------------------------------------------------*/
           /*Google Person Finder*/
/*-------------------------------------------------------------------*/

iframe.googleFinder {
  margin: 0 auto;
  padding: 0;
  border: none;
  width: 100%;
  height: 400px;
}

/*-------------------------------------------------------------------*/
           /*CITIES*/
/*-------------------------------------------------------------------*/


/*-------------------------------------------------------------------*/
           /*TESTIMONIALS*/
/*-------------------------------------------------------------------*/




/*-------------------------------------------------------------------*/
           /*Resources*/
/*-------------------------------------------------------------------*/

#funds ul, #resources ul {
  padding: 0;
}

#funds li, #resources li {
  list-style-type: none;
}

#funds a, #resources a {
  font-size: 18px;
}

/*-------------------------------------------------------------------*/
           /*Facebook Contacting*/
/*-------------------------------------------------------------------*/

.facebook-hurricane-block{
  text-align: center;
}

.facebook-hurricane-block a {
  height: 400px;
}

/*-------------------------------------------------------------------*/
           /*CONTACT US*/
/*-------------------------------------------------------------------*/

#contactus {

}

/*-------------------------------------------------------------------*/
           /*FOOTER*/
/*-------------------------------------------------------------------*/

footer {
  margin: 10px auto 30px;
}


/*-------------------------------------------------------------------*/
           /*ANIMATIONS*/
/*-------------------------------------------------------------------*/
