/*
Green color: #C8DB3A, rgba(200, 219, 58, 1)
Purple Color: #454871, rgba(39, 21, 94, 1)
Blue color: #86E4BB
242 136 215
*/

/*-------------------------------------------------------------------*/
            /*BASIC SETUP*/
/*-------------------------------------------------------------------*/


* {
  font-family: 'Muli', sans-serif;
}

iframe {
  margin: 0 auto;
  padding: 0;
  border: none;
  width: 100%;
  height: 100%;
}
/*-------------------------------------------------------------------*/
           /*REUSABLE COMPONENTS*/
/*-------------------------------------------------------------------*/

/*------------------HEADINGS------------------*/


/*------------------TITLES------------------*/


/*------------------PARAGRAPHS------------------*/


/*------------------ICONS------------------*/


/*------------------BUTTONS------------------*/


/*------------------LINKS------------------*/





/*-------------------------------------------------------------------*/
           /*HEADER*/
/*-------------------------------------------------------------------*/

/*------------------Navigation------------------*/

.nav-icons, .nav-text {
  color: white;
  font-size: 18px;
  margin-right: 20px;
}

.navbar-nav>li>a.nav-text {
  color: white;
  margin: 0
}

.header-website {
  width: 500px;
  margin: 100px auto 0;
}

.maria-tech-brigade-effort-link{
  color: black;
}

.medium-image{
   width: 100px;
   height: auto;
   margin-top: 0;
}

.call-representative{
  margin: 0 auto;
}

.header-caption {
  text-decoration: underline;
}

/*-------------------------------------------------------------------*/
           /*Donation Map*/
/*-------------------------------------------------------------------*/

.diaspora-donation-map {
  margin: 50px auto;
  height: 480px;
}

/*-------------------------------------------------------------------*/
           /*PROJECTS*/
/*-------------------------------------------------------------------*/


/*-------------------------------------------------------------------*/
           /*MEALS*/
/*-------------------------------------------------------------------*/

/*-------------------------------------------------------------------*/
           /*Drone Market Segments*/
/*-------------------------------------------------------------------*/


/*-------------------------------------------------------------------*/
           /*CITIES*/
/*-------------------------------------------------------------------*/


/*-------------------------------------------------------------------*/
           /*TESTIMONIALS*/
/*-------------------------------------------------------------------*/




/*-------------------------------------------------------------------*/
           /*Resources*/
/*-------------------------------------------------------------------*/

#funds ul, #resources ul {
  padding: 0;
}

#funds li, #resources li {
  list-style-type: none;
}

#funds a, #resources a {
  font-size: 18px;
}

/*-------------------------------------------------------------------*/
           /*Facebook Contacting*/
/*-------------------------------------------------------------------*/

.facebook-hurricane-block{
  text-align: center;
}

.facebook-hurricane-block a {
  height: 400px;
}

/*-------------------------------------------------------------------*/
           /*BOTTOM HERO*/
/*-------------------------------------------------------------------*/

/*-------------------------------------------------------------------*/
           /*FOOTER*/
/*-------------------------------------------------------------------*/

footer {
  margin: 10px auto 30px;
}


/*-------------------------------------------------------------------*/
           /*ANIMATIONS*/
/*-------------------------------------------------------------------*/

