* {
  font-family: 'Muli', sans-serif;
}

.nav-icons, .nav-text {
  color: white;
  font-size: 18px;
  margin-right: 20px;
}

.navbar-nav>li>a.nav-text {
  color: white;
  margin: 0
}

.header-website {
  width: 500px;
  margin: 100px auto 0;
}

.maria-tech-brigade-effort-link{
  color: black;
}

.medium-image{
   width: 100px;
   height: auto;
   margin-top: 0;
}


.call-representative{
  margin: 0 auto;
}

.header-caption {
  text-decoration: underline;
}

.diaspora-donation-map {
  margin: 50px auto;

  height: 480px;
}

.facebook-hurricane-block{
  text-align: center;
}

.facebook-hurricane-block a {
  height: 400px;
}

#funds ul, #resources ul {
  padding: 0;
}

#funds li, #resources li {
  list-style-type: none;
}

#funds a, #resources a {
  font-size: 18px;
}

footer {
  margin: 10px auto 30px;
}

iframe {
  margin: 0 auto;
  padding: 0;
  border: none;
  width: 100%;
  height: 100%;
}
